:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #80AF81;
  --color-secondary: #80AF81;
  --color-dark: #508D4E;
  --color-bg: #6a9c6e;

  /* Fonts */
  --font-roboto: "Roboto";
}
